.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
}

.main input {
  margin-bottom: 3px;
}
